<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Random Number Game</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
<nav class="navbar navbar-dark bg-primary navbar-fixed-top">
    <div class="container">
        <div class="navbar-brand">
            @Html.ActionLink("Random Number Game", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </div>
    </div>
</nav>
<div class="container-fluid" style="height: 16rem;">
    <div class="row">
        <div class="col-md-12">
            <img src="~/Content/Images/mainBackground.png" class="img-fluid w-100 h-50" alt="bannerImage">
        </div>
    </div>
</div>
<div class="container body-content">
    @Html.Partial("_SessionMessages")
    @RenderBody()
    <hr />
    <footer>
        <p>&copy; @DateTime.Now.Year - WrideTechSolutions</p>
    </footer>
</div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
