@model RandomNumberGame.Models.Game

<div class="row">
    <div class="col-sm-12 alert alert-info">
        <p>You are playing on @Model.Difficulty.Name difficulty level</p>

        @if (Model.GuessesLeft == 1)
        {
            <p>You currently have <strong>@Model.GuessesLeft</strong> guess left</p>
        }
        else
        {
            <p>You currently have <strong>@Model.GuessesLeft</strong> guesses left</p>
        }

        <p>A random number has been picked between @Model.Difficulty.LowerLimit and @Model.Difficulty.UpperLimit</p>
    </div>
</div>

@if (Model.Success)
{
    <div class="row">
        <div class="col-sm-12 alert alert-success">
            <p>@Model.CurrentMessage</p>
        </div>
    </div>
}
else if (Model.Failure)
{
    <div class="row alert alert-danger">
        <div class="col-sm-12">
            <p>@Model.CurrentMessage</p>
        </div>
    </div>
}
else
{
    <div class="row alert alert-info">
        <div class="col-sm-12">
            <p>@Model.CurrentMessage</p>
        </div>
    </div>
}

@if (Model.Complete)
{
    Session["CurrentGame"] = null;
    @Html.Partial("_DifficultyList")
}
else
{
    using (Html.BeginForm("MakeGuess", "Home"))
    {
        <div class="row">
            @Html.TextBox("guess", "", new {@class = "col-sm-4 form-control"})
            <input type="submit" class="btn btn-info" value="Make Guess"/>
        </div>
    }
}