@model RandomNumberGame.Models.Game

<div class="row">
    <div class="col-sm-12 alert alert-info">
        <p class="">You are playing on @Model.Difficulty.Name difficulty level</p>
        <p class="">You currently have @Model.GuessesLeft guesses left</p>
        <p class="">The lowest possible number for this game is @Model.Difficulty.LowerLimit</p>
        <p class="">The highest possible number for this game is @Model.Difficulty.UpperLimit</p>
    </div>
</div>

@if (Model.Success)
{
    <div class="row">
        <div class="col-sm-12">
            <p class="alert alert-success">@Model.CurrentMessage</p>
        </div>
    </div>
}
else if (Model.Failure)
{
    <div class="row">
        <div class="col-sm-12">
            <p class="alert alert-danger">@Model.CurrentMessage</p>
        </div>
    </div>
}
else
{
    <div class="row">
        <div class="col-sm-12">
            <p class="alert alert-info">@Model.CurrentMessage</p>
        </div>
    </div>
}

@if (Model.Complete)
{
    Session["CurrentGame"] = null;
    @Html.Partial("_DifficultyList")
}
else
{
    using (Html.BeginForm("MakeGuess", "Home"))
    {
        @Html.TextBox("guess", "", new { @class = "col-sm-4 form-control" })
        <input type="submit" value="Make Guess" />
    }
}